[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mongoengine-goodjson = "==1.1.8"
Flask = "==1.1.2"
mongoengine = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
